.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

body {
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.3;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: underline;
}

ul {
  margin-top: 0;
  padding-left: 40px;
}

label {
  font-weight: 700;
  display: block;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-bottom: 0;
  padding: .75rem 1.25rem;
  font-size: 18px;
  line-height: 22px;
}

.styleguide-wrapper {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.gc-page-padding {
  padding-left: 3rem;
  padding-right: 3rem;
}

.gc-container-l {
  width: 100%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

.styleguide-heading-wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.styleguide-section {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5rem;
  display: flex;
}

.styleguide-category-wrapper {
  width: 100%;
  color: #fff;
  background-color: #1169fe;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
}

.styleguide-category-wrapper.tablet {
  background-color: #ce91ff;
}

.styleguide-subcategory-wrapper {
  color: #fff;
  background-color: #f25f24;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: .75rem 2rem;
}

.styleguide-content {
  width: 100%;
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.gc-heading-xl {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3;
}

.class {
  color: #fff;
  white-space: nowrap;
  background-color: #3b79c3;
  border-radius: 4px;
  align-self: flex-start;
  padding: .25rem .5rem;
  font-size: .75rem;
  display: inline;
}

.styleguide-section-item {
  width: 100%;
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
  display: flex;
}

.gc-heading-l {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.3;
}

.gc-heading-m {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

.gc-heading-xxl {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
}

.gc-heading-s {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
}

.gc-heading-xs {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.gc-text-xxl {
  font-size: 2rem;
}

.gc-text-xl {
  font-size: 1.5rem;
}

.gc-text-xl.cc-uppercase {
  text-transform: uppercase;
}

.gc-text-l {
  font-size: 1.25rem;
}

.gc-text-m {
  font-size: 1.125rem;
}

.gc-text-m.gc-text-color-2 {
  outline-offset: 0px;
  outline: 3px solid #a7a7a7;
}

.gc-text-m.gc-text-color-2.brokerage {
  outline-offset: 0px;
  outline: 3px #a7a7a7;
}

.gc-text-s {
  font-size: 1rem;
}

.gc-text-xs {
  font-size: .875rem;
}

.gc-text-xxs {
  font-size: .75rem;
}

.gc-text-style-strikethrough {
  text-decoration: line-through;
}

.gc-text-style-italic {
  font-style: italic;
}

.gc-text-style-all-caps {
  text-transform: uppercase;
}

.gc-text-style-no-wrap {
  white-space: nowrap;
}

.gc-text-style-block-quote {
  margin-bottom: 0;
  padding: .75rem 1.25rem;
  font-size: 1rem;
}

.gc-text-weight-thin {
  font-weight: 100;
}

.gc-text-weight-extra-light {
  font-weight: 200;
}

.gc-text-weight-light {
  font-weight: 300;
}

.gc-text-weight-normal {
  font-weight: 400;
}

.gc-text-weight-medium {
  font-weight: 500;
}

.gc-text-weight-semi-bold {
  font-weight: 600;
}

.gc-text-weight-bold {
  font-weight: 700;
}

.gc-text-weight-extra-bold {
  font-weight: 800;
}

.gc-text-weight-black {
  font-weight: 900;
}

.gc-text-alignment-left {
  text-align: left;
}

.gc-text-alignment-right {
  text-align: right;
}

.gc-text-alignment-center {
  text-align: center;
}

.gc-text-alignment-justify {
  text-align: justify;
}

.gc-text-style-underline {
  text-decoration: underline;
}

.gc-full-width {
  width: 100%;
  max-width: none;
}

.gc-rich-text h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.gc-rich-text h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.gc-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: .5rem;
}

.gc-rich-text p {
  margin-bottom: .75rem;
}

.gc-rich-text h4, .gc-rich-text h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.gc-rich-text h5 {
  margin-top: 1.25rem;
  margin-bottom: .75rem;
}

.gc-rich-text blockquote, .gc-rich-text ul {
  margin-bottom: .75rem;
}

.styleguide-color-sample {
  background-color: #f5f5f5;
  border: 1px dashed #000;
  margin-top: .5rem;
  padding: 5rem;
}

.styleguide-color-sample.cc-primary {
  background-color: #1169fe;
}

.styleguide-color-sample.cc-secondary {
  background-color: #f25f24;
}

.styleguide-color-sample.cc-tertiary {
  background-color: #ce91ff;
}

.styleguide-color-sample.cc-quaternary {
  background-color: #4fe9a4;
}

.styleguide-color-sample.cc-text-1 {
  background-color: #3a3a3a;
}

.styleguide-color-sample.cc-text-2 {
  background-color: #a7a7a7;
}

.styleguide-color-sample.cc-neutral-1 {
  background-color: #ddd;
}

.styleguide-color-sample.cc-neutral-2 {
  background-color: #bbb;
}

.styleguide-color-sample.cc-neutral-3 {
  background-color: #999;
}

.styleguide-color-sample.cc-black {
  background-color: #000;
}

.styleguide-color-sample.cc-white {
  background-color: #fff;
}

.styleguide-content-grid-3 {
  width: 100%;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  display: grid;
}

.gc-text-color-primary {
  color: #1169fe;
}

.gc-text-color-secondary {
  color: #f25f24;
}

.gc-text-color-tertiary {
  color: #ce91ff;
}

.gc-text-color-quaternary {
  color: #4fe9a4;
}

.gc-text-color-1 {
  color: #3a3a3a;
}

.gc-text-color-2 {
  color: #a7a7a7;
}

.gc-text-color-black {
  color: #000;
}

.gc-text-color-white {
  color: #fff;
}

.gc-background-primary {
  background-color: #1169fe;
}

.gc-background-secondary {
  background-color: #f25f24;
}

.gc-background-tertiary {
  background-color: #ce91ff;
}

.gc-background-quaternary {
  background-color: #4fe9a4;
}

.gc-background-neutral-1 {
  background-color: #ddd;
}

.gc-background-neutral-2 {
  background-color: #bbb;
}

.gc-background-neutral-3 {
  background-color: #999;
}

.gc-background-black {
  background-color: #000;
}

.gc-background-white {
  background-color: #fff;
}

.object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.styleguide-item-wrapper {
  width: 100%;
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  align-content: start;
  align-items: stretch;
  display: flex;
}

.image-16x5 {
  padding-top: 32.5%;
  position: relative;
  overflow: hidden;
}

.image-21x9 {
  padding-top: 42.857%;
  position: relative;
  overflow: hidden;
}

.image-16x9 {
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}

.image-2x1 {
  padding-top: 50%;
  position: relative;
  overflow: hidden;
}

.image-4x3 {
  padding-top: 75%;
  position: relative;
  overflow: hidden;
}

.image-1x1 {
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.image-1x2 {
  padding-top: 200%;
  position: relative;
  overflow: hidden;
}

.gc-icon-s {
  height: 2rem;
}

.gc-icon-m {
  height: 3rem;
}

.gc-icon-l {
  height: 4rem;
}

.styleguide-flex-horizontal {
  width: 100%;
  grid-column-gap: 1.5rem;
  flex-direction: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  display: flex;
}

.gc-icon-1x1-s {
  width: 2rem;
  height: 2rem;
}

.gc-icon-1x1-m {
  width: 3rem;
  height: 3rem;
}

.gc-icon-1x1-l {
  width: 4rem;
  height: 4rem;
}

.styleguide-flex-horizontal-wrap {
  width: 100%;
  grid-column-gap: 1.5rem;
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  display: flex;
}

.styguide-main-heading {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.styleguide-top-bar {
  grid-column-gap: .5rem;
  align-items: flex-end;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
}

.styleguide-dashed {
  background-color: #fff;
  border: 1px dashed #000;
  padding: 1rem;
}

.styleguide-flex-vertical {
  width: 100%;
  grid-row-gap: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.gc-container-m {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.gc-container-s {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.gc-max-width-xxl {
  width: 100%;
  max-width: 80rem;
}

.gc-max-width-xl {
  width: 100%;
  max-width: 64rem;
}

.gc-max-width-l {
  width: 100%;
  max-width: 48rem;
}

.gc-max-width-m {
  width: 100%;
  max-width: 32rem;
}

.gc-max-width-s {
  width: 100%;
  max-width: 20rem;
}

.gc-max-width-xs {
  width: 100%;
  max-width: 16rem;
}

.gc-max-width-xxs {
  width: 100%;
  max-width: 12rem;
}

.styleguide-margin-wrapper {
  background-color: #ddd;
}

.margin-top---auto {
  margin-top: auto;
}

.margin-top---xxl {
  margin-top: 5rem;
}

.margin-top---xl {
  margin-top: 4rem;
}

.margin-top---l {
  margin-top: 3rem;
}

.margin-top---m {
  margin-top: 2rem;
}

.margin-top---s {
  margin-top: 1rem;
}

.margin-top---xs {
  margin-top: .5rem;
}

.margin-top---xxs {
  margin-top: .25rem;
}

.margin-top---0 {
  margin-top: 0;
}

.margin-right---auto {
  margin-right: auto;
}

.margin-right---xxl {
  margin-right: 5rem;
}

.margin-right---xl {
  margin-right: 4rem;
}

.margin-right---l {
  margin-right: 3rem;
}

.margin-right---m {
  margin-right: 2rem;
}

.margin-right---s {
  margin-right: 1rem;
}

.margin-right---xs {
  margin-right: .5rem;
}

.margin-right---xxs {
  margin-right: .25rem;
}

.margin-right---0 {
  margin-right: 0;
}

.margin-bottom---auto {
  margin-bottom: auto;
}

.margin-bottom---xxl {
  margin-bottom: 5rem;
}

.margin-bottom---xl {
  margin-bottom: 4rem;
}

.margin-bottom---l {
  margin-bottom: 3rem;
}

.margin-bottom---m {
  margin-bottom: 2rem;
}

.margin-bottom---s {
  margin-bottom: 1rem;
}

.margin-bottom---xs {
  margin-bottom: .5rem;
}

.margin-bottom---xxs {
  margin-bottom: .25rem;
}

.margin-bottom---0 {
  margin-bottom: 0;
}

.margin-left---auto {
  margin-left: auto;
}

.margin-left---xxl {
  margin-left: 5rem;
}

.margin-left---xl {
  margin-left: 4rem;
}

.margin-left---l {
  margin-left: 3rem;
}

.margin-left---m {
  margin-left: 2rem;
}

.margin-left---s {
  margin-left: 1rem;
}

.margin-left---xs {
  margin-left: .5rem;
}

.margin-left---xxs {
  margin-left: .25rem;
}

.margin-left---0 {
  margin-left: 0;
}

.padding---xxl {
  padding: 5rem;
}

.padding---xl {
  padding: 4rem;
}

.padding---l {
  padding: 3rem;
}

.padding---m {
  padding: 2rem;
}

.padding---s {
  padding: 1rem;
}

.padding---xs {
  padding: .5rem;
}

.padding---xxs {
  padding: .25rem;
}

.padding---0 {
  padding: 0;
}

.padding-y---xxl {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.padding-y---xl {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.padding-y---l {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.padding-y---m {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-y---s {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-y---xs {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.padding-y---xxs {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.padding-y---0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-x---xxl {
  padding-left: 5rem;
  padding-right: 5rem;
}

.padding-x---xl {
  padding-left: 4rem;
  padding-right: 4rem;
}

.padding-x---l {
  padding-left: 3rem;
  padding-right: 3rem;
}

.padding-x---m {
  padding-left: 2rem;
  padding-right: 2rem;
}

.padding-x---s {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-x---xs {
  padding-left: .5rem;
  padding-right: .5rem;
}

.padding-x---xxs {
  padding-left: .25rem;
  padding-right: .25rem;
}

.padding-x---0 {
  padding-left: 0;
  padding-right: 0;
}

.padding-top---xxl {
  padding-top: 5rem;
}

.padding-top---xl {
  padding-top: 4rem;
}

.padding-top---l {
  padding-top: 3rem;
}

.padding-top---m {
  padding-top: 2rem;
}

.padding-top---s {
  padding-top: 1rem;
}

.padding-top---xs {
  padding-top: .5rem;
}

.padding-top---xxs {
  padding-top: .25rem;
}

.padding-top---0 {
  padding-top: 0;
}

.padding-right---xxl {
  padding-right: 5rem;
}

.padding-right---xl {
  padding-right: 4rem;
}

.padding-right---l {
  padding-right: 3rem;
}

.padding-right---m {
  padding-right: 2rem;
}

.padding-right---s {
  padding-right: 1rem;
}

.padding-right---xs {
  padding-right: .5rem;
}

.padding-right---xxs {
  padding-right: .25rem;
}

.padding-right---0 {
  padding-right: 0;
}

.padding-bottom---xxl {
  padding-bottom: 5rem;
}

.padding-bottom---xl {
  padding-bottom: 4rem;
}

.padding-bottom---l {
  padding-bottom: 3rem;
}

.padding-bottom---m {
  padding-bottom: 2rem;
}

.padding-bottom---s {
  padding-bottom: 1rem;
}

.padding-bottom---xs {
  padding-bottom: .5rem;
}

.padding-bottom---xxs {
  padding-bottom: .25rem;
}

.padding-bottom---0 {
  padding-bottom: 0;
}

.padding-left---xxl {
  padding-left: 5rem;
}

.padding-left---xl {
  padding-left: 4rem;
}

.padding-left---l {
  padding-left: 3rem;
}

.padding-left---m {
  padding-left: 2rem;
}

.padding-left---s {
  padding-left: 1rem;
}

.padding-left---xs {
  padding-left: .5rem;
}

.padding-left---xxs {
  padding-left: .25rem;
}

.padding-left---0 {
  padding-left: 0;
}

.gc-z---1 {
  z-index: 1;
  position: relative;
}

.gc-z---2 {
  z-index: 2;
  position: relative;
}

.gc-clean-space {
  margin: 0;
  padding: 0;
}

.gc-center-element {
  margin-left: auto;
  margin-right: auto;
}

.gc-overflow---hidden {
  overflow: hidden;
}

.gc-overflow---scroll {
  overflow: scroll;
}

.gc-overflow---auto {
  overflow: auto;
}

.gc-overflow---visible {
  overflow: visible;
}

.gc-hide {
  display: none;
}

.gc-show {
  display: block;
}

.gc-button {
  color: #fff;
  text-align: center;
  background-color: #1169fe;
  justify-content: center;
  align-items: center;
  padding: .75rem 2rem;
  font-weight: 600;
  transition: all .2s;
}

.gc-button:hover {
  background-color: rgba(17, 105, 254, .8);
}

.gc-button.cc-inverted {
  color: #1169fe;
  background-color: #fff;
  border: .125rem solid #1169fe;
}

.gc-button.cc-inverted:hover {
  color: #fff;
  background-color: #1169fe;
  border-color: #fff;
}

.multistep-wrapper {
  height: 100vh;
}

.multistep-tabs {
  height: 100%;
  display: flex;
}

.multistep-tabs-menu {
  width: 25%;
  background-color: #1169fe;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.multistep-tabs-menu.padding-x---l.padding-top---xxl {
  background-color: #191d58;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.multistep-tabs-content {
  height: 100%;
  background-color: #fafafb;
  flex: 1;
}

.multistep-tab-pane {
  height: 100%;
}

.multistep-tab-pane.padding---xl {
  overflow: scroll;
}

.multistep-tab-link {
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
}

.multistep-tab-link.w--current {
  background-color: rgba(0, 0, 0, 0);
}

.multistep-tab-link.gc-hide, .multistep-tab-link.hide {
  display: none;
}

.form-block, .form {
  height: 100%;
}

.form-wrapper {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.tab-number {
  width: 36px;
  height: 36px;
  min-width: 36px;
  color: #fff;
  border: .5px solid #fff;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  display: flex;
}

.tab-line {
  width: 1px;
  height: 2.5vh;
  background-color: rgba(255, 255, 255, .3);
  position: absolute;
  bottom: -3.3vh;
  left: 18px;
}

.step-icon {
  width: 6rem;
  height: 6rem;
  background-image: radial-gradient(circle, #fff, #fef2e5 35%, #fef2e5);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.field-wrapper {
  opacity: 1;
  overflow: visible;
}

.step-opacity {
  opacity: .5;
}

.field-grid {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template: ". ."
                 ". ."
                 "Area Area"
                 ". ."
                 "Area-2 Area-2"
                 / 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-field {
  height: 3.5rem;
  background-color: #fafafb;
  border: 2px solid rgba(167, 167, 167, .4);
  border-radius: 10px;
  margin-bottom: 0;
}

.select-field {
  height: 3.5rem;
  background-color: #fafafb;
  border: 2px solid rgba(167, 167, 167, .4);
  border-radius: 10px;
  margin-bottom: 0;
  font-size: 1rem;
}

.tab-button {
  align-items: center;
  display: flex;
}

.multistep-tab-pane-wrapper {
  width: 900px;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
  overflow: visible;
}

.image---check {
  width: 1.5rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-relative {
  position: relative;
}

.radio-button-field {
  border: 1px solid rgba(167, 167, 167, .4);
  border-radius: 10px;
  align-items: center;
  padding: 20px;
  display: flex;
}

.radio-button {
  width: 28px;
  height: 28px;
  min-height: 28px;
  min-width: 28px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 20px;
}

.radio-button.w--redirected-checked {
  background-color: #3a3a3a;
  background-image: url('../images/check_1check.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  border-style: none;
}

.radio-button.w--redirected-focus {
  box-shadow: none;
}

.checkbox-field {
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  margin-top: 0;
  margin-right: 16px;
}

.textarea {
  max-height: 10rem;
  min-height: 10rem;
  background-color: #fafafb;
  border: 2px solid rgba(167, 167, 167, .4);
  border-radius: 10px;
  margin-bottom: 0;
}

.logo {
  z-index: 1;
  position: absolute;
  top: 4rem;
}

.logo-image {
  width: 60px;
}

.success-message {
  height: 100%;
  background-color: #1169fe;
}

.success-message-wrapper {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.features-s1-wrapper {
  color: #1169fe;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbar-icon {
  width: 4rem;
}

.image-1x60 {
  padding-top: 60.87%;
  position: relative;
  overflow: hidden;
}

.image-tool {
  width: 100%;
  max-width: 50%;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, .11);
}

.image-tool-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.step-left-row {
  display: flex;
}

.step-left-col {
  width: 50%;
}

.image---form {
  border-radius: .5rem;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, .11);
}

.component {
  color: #fff;
  background-color: #0084ff;
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 1rem;
  font-weight: 300;
}

.step-right-row {
  display: flex;
}

.step-right-col {
  width: 50%;
}

.image {
  border-radius: .5rem;
}

.settings {
  color: #fff;
  background-color: #404040;
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 1rem;
  font-weight: 300;
}

.pricing-overview {
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.pricing-description {
  max-width: 550px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.pricing-grid {
  grid-column-gap: 64px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 50px;
  display: grid;
}

.pricing-card-three {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.pricing-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 16px;
}

.pricing-card-text {
  text-align: left;
  margin-bottom: 20px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.page-back-lights {
  background-color: #191d58;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.back-light-container {
  z-index: 1;
  opacity: .5;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.back-light {
  width: 50vw;
  height: 20vw;
  filter: blur(110px);
  background-color: #d86af7;
  border-radius: 50%;
  position: absolute;
  top: 30vw;
}

.back-light-yellow {
  width: 40vw;
  height: 20vw;
  filter: blur(110px);
  background-color: #ffc550;
  border-radius: 50%;
  position: absolute;
  left: 5vw;
}

.back-light-blue {
  width: 50vw;
  height: 30vw;
  filter: blur(110px);
  background-color: #41ac84;
  border-radius: 50%;
  position: absolute;
  bottom: 25vh;
  right: -2vw;
}

.back-gradient-right {
  z-index: 2;
  width: 50%;
  background-image: linear-gradient(270deg, #2b0954 6%, rgba(43, 9, 84, .59) 45%, rgba(43, 9, 84, 0) 85%);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.back-gradient-left {
  z-index: 2;
  width: 50%;
  background-image: linear-gradient(to right, #2b0954 9%, rgba(43, 9, 84, .53) 41%, rgba(43, 9, 84, 0) 82%);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.lottie-layer {
  z-index: 5;
  min-width: 80vw;
  margin-top: 0;
}

.lottie-layer.move-right {
  left: -10%;
}

.lottie-layer.hero-lion {
  margin-top: 0;
}

.lottie-layer.move-right-2 {
  left: -5%;
}

.page-row-hero, .slider-page-row {
  z-index: 2;
  width: 100vw;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.content-slider {
  z-index: 9;
  width: 50%;
  min-height: 100vh;
  color: #f1ece8;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5vw;
  display: flex;
  position: relative;
  top: 0;
}

.heading-l {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 4vw;
  line-height: 1.2;
}

.heading-l.inline {
  flex: none;
}

.animation-section-hero {
  z-index: 1;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0%;
  right: 0;
}

.animation-container {
  width: 60vw;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: absolute;
}

.animation-container.bird-container {
  width: 45vw;
  right: 5vw;
}

.animation-container.lion {
  right: 10vw;
}

.animation-container.full-width {
  width: 80%;
}

.slider-no-events {
  z-index: 1;
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.slider {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
}

.animation-section {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0%;
  right: 0;
}

.animation-lottie-wraper {
  z-index: 1;
  width: 100vw;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: 0%;
  overflow: hidden;
}

.slider-page-wrapper {
  z-index: 99;
  background-color: rgba(43, 9, 84, 0);
  position: relative;
}

.back-silhouete {
  width: 60%;
  position: absolute;
}

.back-silhouete.slide-2 {
  width: 150%;
  max-width: none;
  bottom: -30%;
}

.back-silhouete.right {
  width: 50%;
  margin-top: 10vh;
  right: -20%;
}

.back-silhouete.right.mount {
  opacity: .4;
  margin-top: 30vh;
}

.back-silhouete.left {
  width: 50%;
  margin-top: 10vh;
  left: -20%;
}

.back-silhouete.left.mount {
  opacity: .4;
  margin-top: 30vh;
}

.hero-wraper {
  z-index: 1;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.hero-wraper.a-c {
  align-items: center;
}

.hero-wraper.layer-3.shift-right {
  left: 20%;
}

.animation-background-wraper {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: 0%;
  overflow: hidden;
}

.animation-background-wraper.hero, .animation-background-wraper.footer {
  width: 100vw;
}

.content-container-slider {
  max-width: 600px;
}

.animation-wrapper {
  width: 100%;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.animation-wrapper.lottie-wrap {
  min-height: 120vh;
}

.heading-xl {
  font-size: 5vw;
  line-height: 1.2;
}

.back-texture {
  width: 100vw;
  height: 30%;
  opacity: .2;
  background-image: url('../images/dark-texture-tiger.svg');
  background-position: 0 0;
  background-size: cover;
  position: absolute;
  right: 0;
}

.back-texture.dots {
  background-image: url('../images/cost-back.svg');
}

.back-texture.snake {
  opacity: .2;
  background-image: url('../images/dark-texture-snake.svg');
}

.back-texture.waves {
  background-image: url('../images/waves-back.svg');
  bottom: 10%;
}

.back-clouds {
  width: 150%;
  max-width: 1000%;
  margin-top: -10vh;
  position: absolute;
}

.hide {
  display: none;
}

.right-arrow {
  opacity: 0;
  display: none;
}

.header-2 {
  z-index: 99;
  width: 100%;
  color: #f1ece8;
  flex-direction: row;
  flex: none;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5vw 5vw 0;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
  overflow: hidden;
}

.hero-wrapper {
  font-size: 14px;
}

.go-to-finsweet {
  color: #952db3;
  transition: color .2s;
}

.go-to-finsweet:hover {
  color: #de68ff;
}

.hero-logo {
  width: 180px;
  transition: color .2s;
}

.hero-logo:hover {
  color: #d86af7;
  position: relative;
}

.header-link {
  opacity: .6;
  text-align: right;
  transition: opacity .2s ease-out;
}

.header-link:hover {
  opacity: .9;
}

.contact-button {
  color: #f1ece8;
  text-align: center;
  text-transform: uppercase;
  background-color: #2b0954;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: box-shadow 1s cubic-bezier(.215, .61, .355, 1);
  display: flex;
}

.contact-button:hover {
  color: #fff;
  box-shadow: 17px -10px 40px -5px #f7a96a, -26px 15px 60px -8px rgba(216, 106, 247, .87);
}

.footer-cta {
  max-width: 800px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-items: start;
  display: block;
}

.footer {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  justify-items: end;
  padding-top: 0;
  display: grid;
}

.progress-wrapper {
  width: 100%;
  background-color: rgba(216, 106, 247, .1);
  display: flex;
  position: relative;
}

.progress-line {
  width: 100%;
  height: 100%;
  background-color: #d86af7;
}

.progress-container {
  height: 4px;
  flex: 1;
  overflow: hidden;
}

.footer-wrapper {
  z-index: 99;
  width: 100%;
  color: #f1ece8;
  flex-direction: column;
  flex: none;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 5vw 40px;
  display: flex;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: auto;
  overflow: hidden;
}

.embed {
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.image-2 {
  background-color: rgba(221, 221, 221, 0);
}

.image-3 {
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-4 {
  object-fit: fill;
  margin-left: -696px;
  margin-right: 23px;
  padding-left: 0;
  padding-right: 0;
  display: block;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.image-5 {
  position: absolute;
  top: 8%;
  bottom: auto;
  left: 18%;
  right: auto;
}

.flex-grid-wrapped {
  flex-flow: wrap;
  align-content: flex-start;
  margin-top: 0;
  margin-bottom: -40px;
  display: flex;
}

.flex-grid-wrapped.gutter-20 {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: -50px;
  margin-left: -20px;
  margin-right: -20px;
}

.flex-item-20 {
  flex-direction: column;
  flex: 1;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  position: relative;
}

.flex-item-20._40-percent {
  width: 40%;
  flex: 0 auto;
}

.bold-text-3 {
  font-family: Great Vibes, cursive;
  font-size: 35px;
  font-weight: 400;
}

.flex-grid-item {
  text-align: center;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.text-span {
  text-decoration: line-through;
}

.container-2 {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

.hero-subtitle {
  color: #fff;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 200;
  line-height: 28px;
  text-decoration: none;
}

.section-2 {
  background-color: #000;
  background-image: url('../images/Footer-overlay-1.png'), linear-gradient(135deg, #000, rgba(143, 0, 255, .29));
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 260px 0 130px;
  display: block;
}

.text-span-2 {
  font-size: 24px;
}

.hero-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 46px;
  font-weight: 500;
  line-height: 60px;
}

.hero-heading.dark-bg {
  color: #fff;
  text-align: left;
}

.hero-heading.dark-bg.purple-border {
  border: 1px solid #8f00ff;
  border-radius: 6px;
  padding: 16px;
}

.sidebar-item {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
}

.content-section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.text-block {
  font-size: 16px;
  display: block;
}

.html-embed {
  text-align: center;
}

.marker {
  width: 100%;
  height: 10px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.marker._1 {
  margin-top: 870px;
}

.sidebar-image {
  object-fit: contain;
  background-color: rgba(255, 255, 255, 0);
  background-image: url('../images/kh2XtABcA75SFX4DPd95WqXsvvM.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 9px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
  padding-bottom: 110px;
  display: block;
}

.rich-text {
  margin-bottom: 30px;
  font-weight: 400;
}

.sidebar-wrapper {
  background-color: rgba(250, 250, 250, 0);
  border-radius: 6px;
  margin-top: -220px;
  overflow: hidden;
}

.section-3 {
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(#000, rgba(143, 0, 255, .24));
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.paragraph {
  color: #fff;
  padding-left: 122px;
  padding-right: 122px;
  font-family: Great Vibes, cursive;
  font-size: 87px;
  position: relative;
  top: -81px;
}

.link {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 1440px) {
  .page-row-hero, .slider-page-row {
    align-items: stretch;
  }

  .back-silhouete.right.mount, .back-silhouete.left.mount {
    opacity: .4;
  }

  .slide {
    z-index: 1;
  }
}

@media screen and (min-width: 1920px) {
  .content-container-slider {
    max-width: 100%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 991px) {
  .gc-full-width-tablet {
    width: 100%;
    max-width: none;
  }

  .margin-top---xxl {
    margin-top: 4rem;
  }

  .margin-top---xl {
    margin-top: 3rem;
  }

  .margin-top---l {
    margin-top: 2.5rem;
  }

  .margin-top---m {
    margin-top: 1.5rem;
  }

  .margin-right---xxl {
    margin-right: 4rem;
  }

  .margin-right---xl {
    margin-right: 3rem;
  }

  .margin-right---l {
    margin-right: 2.5rem;
  }

  .margin-right---m {
    margin-right: 1.5rem;
  }

  .margin-bottom---xxl {
    margin-bottom: 4rem;
  }

  .margin-bottom---xl {
    margin-bottom: 3rem;
  }

  .margin-bottom---l {
    margin-bottom: 2.5rem;
  }

  .margin-bottom---m {
    margin-bottom: 1.5rem;
  }

  .margin-left---xxl {
    margin-left: 4rem;
  }

  .margin-left---xl {
    margin-left: 3rem;
  }

  .margin-left---l {
    margin-left: 2.5rem;
  }

  .margin-left---m {
    margin-left: 1.5rem;
  }

  .margin-top-tab---auto {
    margin-top: auto;
  }

  .margin-top-tab---xxl {
    margin-top: 5rem;
  }

  .margin-top-tab---xl {
    margin-top: 4rem;
  }

  .margin-top-tab---l {
    margin-top: 3rem;
  }

  .margin-top-tab---m {
    margin-top: 2rem;
  }

  .margin-top-tab---s {
    margin-top: 1rem;
  }

  .margin-top-tab--xs {
    margin-top: .5rem;
  }

  .margin-top-tab---xxs {
    margin-top: .25rem;
  }

  .margin-top-tab---0 {
    margin-top: 0;
  }

  .margin-right-tab---auto {
    margin-right: auto;
  }

  .margin-right-tab---xxl {
    margin-right: 5rem;
  }

  .margin-right-tab---xl {
    margin-right: 4rem;
  }

  .margin-right-tab---l {
    margin-right: 3rem;
  }

  .margin-right-tab---m {
    margin-right: 2rem;
  }

  .margin-right-tab---s {
    margin-right: 1rem;
  }

  .margin-right-tab---xs {
    margin-right: .5rem;
  }

  .margin-right-tab---xxs {
    margin-right: .25rem;
  }

  .margin-right-tab---0 {
    margin-right: 0;
  }

  .margin-bottom-tab---auto {
    margin-bottom: auto;
  }

  .margin-bottom-tab---xxl {
    margin-bottom: 5rem;
  }

  .margin-bottom-tab---xl {
    margin-bottom: 4rem;
  }

  .margin-bottom-tab---l {
    margin-bottom: 3rem;
  }

  .margin-bottom-tab---m {
    margin-bottom: 2rem;
  }

  .margin-bottom-tab---s {
    margin-bottom: 1rem;
  }

  .margin-bottom-tab---xs {
    margin-bottom: .5rem;
  }

  .margin-bottom-tab---xxs {
    margin-bottom: .25rem;
  }

  .margin-bottom-tab---0 {
    margin-bottom: 0;
  }

  .margin-left-tab---auto {
    margin-left: auto;
  }

  .margin-left-tab---xxl {
    margin-left: 5rem;
  }

  .margin-left-tab---xl {
    margin-left: 4rem;
  }

  .margin-left-tab---l {
    margin-left: 3rem;
  }

  .margin-left-tab---m {
    margin-left: 2rem;
  }

  .margin-left-tab---s {
    margin-left: 1rem;
  }

  .margin-left-tab---xs {
    margin-left: .5rem;
  }

  .margin-left-tab---xxs {
    margin-left: .25rem;
  }

  .margin-left-tab---0 {
    margin-left: 0;
  }

  .padding---xxl {
    padding: 4rem;
  }

  .padding---xl {
    padding: 3rem;
  }

  .padding---l {
    padding: 2.5rem;
  }

  .padding---m {
    padding: 1.5rem;
  }

  .padding-y---xxl {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .padding-y---xl {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .padding-y---l {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .padding-y---m {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .padding-x---xxl {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .padding-x---xl {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .padding-x---l {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .padding-x---m {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .padding-top---xxl {
    padding-top: 4rem;
  }

  .padding-top---xl {
    padding-top: 3rem;
  }

  .padding-top---l {
    padding-top: 2.5rem;
  }

  .padding-top---m {
    padding-top: 1.5rem;
  }

  .padding-right---xxl {
    padding-right: 4rem;
  }

  .padding-right---xl {
    padding-right: 3rem;
  }

  .padding-right---l {
    padding-right: 2.5rem;
  }

  .padding-right---m {
    padding-right: 1.5rem;
  }

  .padding-bottom---xxl {
    padding-bottom: 4rem;
  }

  .padding-bottom---xl {
    padding-bottom: 3rem;
  }

  .padding-bottom---l {
    padding-bottom: 2.5rem;
  }

  .padding-bottom---m {
    padding-bottom: 1.5rem;
  }

  .padding-left---xxl {
    padding-left: 4rem;
  }

  .padding-left---xl {
    padding-left: 3rem;
  }

  .padding-left---l {
    padding-left: 2.5rem;
  }

  .padding-left---m {
    padding-left: 1.5rem;
  }

  .padding-tab---xxl {
    padding: 5rem;
  }

  .padding-tab---xl {
    padding: 4rem;
  }

  .padding-tab---l {
    padding: 3rem;
  }

  .padding-tab---m {
    padding: 2rem;
  }

  .padding-tab---s {
    padding: 1rem;
  }

  .padding-tab---xs {
    padding: .5rem;
  }

  .padding-tab---xxs {
    padding: .25rem;
  }

  .padding-tab---0 {
    padding: 0;
  }

  .padding-y-tab---xxl {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .padding-y-tab---xl {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .padding-y-tab---l {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .padding-y-tab---m {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .padding-y-tab---s {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .padding-y-tab---xs {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .padding-y-tab---xxs {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }

  .padding-y-tab---0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .padding-x-tab---xxl {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .padding-x-tab---xl {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .padding-x-tab---l {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .padding-x-tab---m {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .padding-x-tab---s {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .padding-x-tab---xs {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .padding-x-tab---xxs {
    padding-left: .25rem;
    padding-right: .25rem;
  }

  .padding-x-tab---0 {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-top-tab---xxl {
    padding-top: 5rem;
  }

  .padding-top-tab---xl {
    padding-top: 4rem;
  }

  .padding-top-tab---l {
    padding-top: 3rem;
  }

  .padding-top-tab---m {
    padding-top: 2rem;
  }

  .padding-top-tab---s {
    padding-top: 1rem;
  }

  .padding-top-tab---xs {
    padding-top: .5rem;
  }

  .padding-top-tab---xxs {
    padding-top: .25rem;
  }

  .padding-top-tab---0 {
    padding-top: 0;
  }

  .padding-right-tab---xxl {
    padding-right: 5rem;
  }

  .padding-right-tab---xl {
    padding-right: 4rem;
  }

  .padding-right-tab---l {
    padding-right: 3rem;
  }

  .padding-right-tab---m {
    padding-right: 2rem;
  }

  .padding-right-tab---s {
    padding-right: 1rem;
  }

  .padding-right-tab---xs {
    padding-right: .5rem;
  }

  .padding-right-tab---xxs {
    padding-right: .25rem;
  }

  .padding-right-tab---0 {
    padding-right: 0;
  }

  .padding-bottom-tab---xxl {
    padding-bottom: 5rem;
  }

  .padding-bottom-tab---xl {
    padding-bottom: 4rem;
  }

  .padding-bottom-tab---l {
    padding-bottom: 3rem;
  }

  .padding-bottom-tab---m {
    padding-bottom: 2rem;
  }

  .padding-bottom-tab---s {
    padding-bottom: 1rem;
  }

  .padding-bottom-tab---xs {
    padding-bottom: .5rem;
  }

  .padding-bottom-tab---xxs {
    padding-bottom: .25rem;
  }

  .padding-bottom-tab---0 {
    padding-bottom: 0;
  }

  .padding-left-tab---xxl {
    padding-left: 5rem;
  }

  .padding-left-tab---xl {
    padding-left: 4rem;
  }

  .padding-left-tab---l {
    padding-left: 3rem;
  }

  .padding-left-tab---m {
    padding-left: 2rem;
  }

  .padding-left-tab---s {
    padding-left: 1rem;
  }

  .padding-left-tab---xs {
    padding-left: .5rem;
  }

  .padding-left-tab---xxs {
    padding-left: .25rem;
  }

  .padding-left-tab---0 {
    padding-left: 0;
  }

  .gc-hide-tablet {
    display: none;
  }

  .gc-show-tablet {
    display: block;
  }

  .image-tool {
    max-width: 80%;
  }

  .step-left-row {
    flex-direction: column;
  }

  .step-left-col {
    width: 100%;
  }

  .step-right-row {
    flex-direction: column-reverse;
  }

  .step-right-col {
    width: 100%;
  }

  .container {
    max-width: 728px;
  }

  .pricing-grid {
    grid-column-gap: 30px;
  }

  .lottie-layer {
    margin-top: 0;
  }

  .content-slider {
    width: 50%;
    justify-content: flex-start;
  }

  .heading-l {
    font-size: 2rem;
  }

  .animation-section-hero, .animation-section {
    width: 100%;
    left: 0%;
  }

  .hero-wraper {
    max-height: 100vh;
    align-items: center;
  }

  .heading-xl {
    font-size: 3rem;
  }

  .contact-button {
    font-size: 2rem;
  }

  .footer-cta {
    max-width: 100%;
    flex-direction: column;
    display: flex;
  }

  .footer {
    padding-top: 0;
  }

  .embed {
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
  }

  .hero-heading.dark-bg {
    text-align: left;
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .75rem;
  }

  .gc-page-padding {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .gc-heading-xl {
    font-size: 2.5rem;
  }

  .gc-heading-l {
    font-size: 2rem;
  }

  .gc-heading-m {
    font-size: 1.5rem;
  }

  .gc-heading-xxl {
    font-size: 3rem;
  }

  .gc-heading-s {
    font-size: 1rem;
  }

  .gc-heading-xs {
    font-size: .75rem;
  }

  .gc-text-xxl {
    font-size: 1.5rem;
  }

  .gc-text-xl {
    font-size: 1.25rem;
  }

  .gc-text-l {
    font-size: 1.125rem;
  }

  .gc-text-m {
    font-size: 1rem;
  }

  .styleguide-color-sample {
    padding: 2.5rem 2rem;
  }

  .heading {
    font-size: 1rem;
  }

  .styleguide-dashed {
    padding: 2.5rem 2rem;
  }

  .gc-full-width-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .margin-top---xxl {
    margin-top: 3rem;
  }

  .margin-top---xl {
    margin-top: 2rem;
  }

  .margin-top---l {
    margin-top: 1.5rem;
  }

  .margin-top---m {
    margin-top: 1.25rem;
  }

  .margin-right---xxl {
    margin-right: 3rem;
  }

  .margin-right---xl {
    margin-right: 2rem;
  }

  .margin-right---l {
    margin-right: 1.5rem;
  }

  .margin-right---m {
    margin-right: 1.25rem;
  }

  .margin-bottom---xxl {
    margin-bottom: 3rem;
  }

  .margin-bottom---xl {
    margin-bottom: 2rem;
  }

  .margin-bottom---l {
    margin-bottom: 1.5rem;
  }

  .margin-bottom---m {
    margin-bottom: 1.25rem;
  }

  .margin-left---xxl {
    margin-left: 3rem;
  }

  .margin-left---xl {
    margin-left: 2rem;
  }

  .margin-left---l {
    margin-left: 1.5rem;
  }

  .margin-left---m {
    margin-left: 1.25rem;
  }

  .margin-top-tab---xxl {
    margin-top: 4rem;
  }

  .margin-top-tab---xl {
    margin-top: 3rem;
  }

  .margin-top-tab---l {
    margin-top: 2.5rem;
  }

  .margin-top-tab---m {
    margin-top: 1.5rem;
  }

  .margin-right-tab---xxl {
    margin-right: 4rem;
  }

  .margin-right-tab---xl {
    margin-right: 3rem;
  }

  .margin-right-tab---l {
    margin-right: 2.5rem;
  }

  .margin-right-tab---m {
    margin-right: 1.5rem;
  }

  .margin-bottom-tab---xxl {
    margin-bottom: 4rem;
  }

  .margin-bottom-tab---xl {
    margin-bottom: 3rem;
  }

  .margin-bottom-tab---l {
    margin-bottom: 2.5rem;
  }

  .margin-bottom-tab---m {
    margin-bottom: 1.5rem;
  }

  .margin-left-tab---xxl {
    margin-left: 4rem;
  }

  .margin-left-tab---xl {
    margin-left: 3rem;
  }

  .margin-left-tab---l {
    margin-left: 2.5rem;
  }

  .margin-left-tab---m {
    margin-left: 1.5rem;
  }

  .margin-top-mob---auto {
    margin-top: auto;
  }

  .margin-top-mob---xxl {
    margin-top: 5rem;
  }

  .margin-top-mob---xl {
    margin-top: 4rem;
  }

  .margin-top-mob---l {
    margin-top: 3rem;
  }

  .margin-top-mob---m {
    margin-top: 2rem;
  }

  .margin-top-mob---s {
    margin-top: 1rem;
  }

  .margin-top-mob---xs {
    margin-top: .5rem;
  }

  .margin-top-mob---xxs {
    margin-top: .25rem;
  }

  .margin-top-mob---0 {
    margin-top: 0;
  }

  .margin-right-mob---auto {
    margin-right: auto;
  }

  .margin-right-mob---xxl {
    margin-right: 5rem;
  }

  .margin-right-mob---xl {
    margin-right: 4rem;
  }

  .margin-right-mob---l {
    margin-right: 3rem;
  }

  .margin-right-mob---m {
    margin-right: 2rem;
  }

  .margin-right-mob---s {
    margin-right: 1rem;
  }

  .margin-right-mob---xs {
    margin-right: .5rem;
  }

  .margin-right-mob---xxs {
    margin-right: .25rem;
  }

  .margin-right-mob---0 {
    margin-right: 0;
  }

  .margin-bottom-mob---auto {
    margin-bottom: auto;
  }

  .margin-bottom-mob---xxl {
    margin-bottom: 5rem;
  }

  .margin-bottom-mob---xl {
    margin-bottom: 4rem;
  }

  .margin-bottom-mob---l {
    margin-bottom: 3rem;
  }

  .margin-bottom-mob---m {
    margin-bottom: 2rem;
  }

  .margin-bottom-mob---s {
    margin-bottom: 1rem;
  }

  .margin-bottom-mob---xs {
    margin-bottom: .5rem;
  }

  .margin-bottom-mob---xxs {
    margin-bottom: .25rem;
  }

  .margin-bottom-mob---0 {
    margin-bottom: 0;
  }

  .margin-left-mob---auto {
    margin-left: auto;
  }

  .margin-left-mob---xxl {
    margin-left: 5rem;
  }

  .margin-left-mob---xl {
    margin-left: 4rem;
  }

  .margin-left-mob---l {
    margin-left: 3rem;
  }

  .margin-left-mob---m {
    margin-left: 2rem;
  }

  .margin-left-mob---s {
    margin-left: 1rem;
  }

  .margin-left-mob---xs {
    margin-left: .5rem;
  }

  .margin-left-mob---xxs {
    margin-left: .25rem;
  }

  .margin-left-mob---0 {
    margin-left: 0;
  }

  .padding---xxl {
    padding: 3rem;
  }

  .padding---xl {
    padding: 2rem;
  }

  .padding---l {
    padding: 1.5rem;
  }

  .padding---m {
    padding: 1.25rem;
  }

  .padding-y---xxl {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .padding-y---xl {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .padding-y---l {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .padding-y---m {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .padding-x---xxl {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .padding-x---xl {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .padding-x---l {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .padding-x---m {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-top---xxl {
    padding-top: 3rem;
  }

  .padding-top---xl {
    padding-top: 2rem;
  }

  .padding-top---l {
    padding-top: 1.5rem;
  }

  .padding-top---m {
    padding-top: 1.25rem;
  }

  .padding-right---xxl {
    padding-right: 3rem;
  }

  .padding-right---xl {
    padding-right: 2rem;
  }

  .padding-right---l {
    padding-right: 1.5rem;
  }

  .padding-right---m {
    padding-right: 1.25rem;
  }

  .padding-bottom---xxl {
    padding-bottom: 3rem;
  }

  .padding-bottom---xl {
    padding-bottom: 2rem;
  }

  .padding-bottom---l {
    padding-bottom: 1.5rem;
  }

  .padding-bottom---m {
    padding-bottom: 1.25rem;
  }

  .padding-left---xxl {
    padding-left: 3rem;
  }

  .padding-left---xl {
    padding-left: 2rem;
  }

  .padding-left---l {
    padding-left: 1.5rem;
  }

  .padding-left---m {
    padding-left: 1.25rem;
  }

  .padding-tab---xxl {
    padding: 4rem;
  }

  .padding-tab---xl {
    padding: 3rem;
  }

  .padding-tab---l {
    padding: 2rem;
  }

  .padding-tab---m {
    padding: 1.5rem;
  }

  .padding-y-tab---xxl {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .padding-y-tab---xl {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .padding-y-tab---l {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .padding-y-tab---m {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .padding-x-tab---xxl {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .padding-x-tab---xl {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .padding-x-tab---l {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .padding-x-tab---m {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .padding-top-tab---xxl {
    padding-top: 4rem;
  }

  .padding-top-tab---xl {
    padding-top: 3rem;
  }

  .padding-top-tab---l {
    padding-top: 2.5rem;
  }

  .padding-top-tab---m {
    padding-top: 1.5rem;
  }

  .padding-right-tab---xxl {
    padding-right: 4rem;
  }

  .padding-right-tab---xl {
    padding-right: 3rem;
  }

  .padding-right-tab---l {
    padding-right: 2.5rem;
  }

  .padding-right-tab---m {
    padding-right: 1.5rem;
  }

  .padding-bottom-tab---xxl {
    padding-bottom: 4rem;
  }

  .padding-bottom-tab---xl {
    padding-bottom: 3rem;
  }

  .padding-bottom-tab---l {
    padding-bottom: 2.5rem;
  }

  .padding-bottom-tab---m {
    padding-bottom: 1.5rem;
  }

  .padding-left-tab---xxl {
    padding-left: 4rem;
  }

  .padding-left-tab---xl {
    padding-left: 3rem;
  }

  .padding-left-tab---l {
    padding-left: 2.5rem;
  }

  .padding-left-tab---m {
    padding-left: 1.5rem;
  }

  .padding-mob---xxl {
    padding: 5rem;
  }

  .padding-mob---xl {
    padding: 4rem;
  }

  .padding-mob---l {
    padding: 3rem;
  }

  .padding-mob---m {
    padding: 2rem;
  }

  .padding-mob---s {
    padding: 1rem;
  }

  .padding-mob---xs {
    padding: .5rem;
  }

  .padding-mob---xxs {
    padding: .25rem;
  }

  .padding-mob---0 {
    padding: 0;
  }

  .padding-y-mob---xxl {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .padding-y-mob---xl {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .padding-y-mob---l {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .padding-y-mob---m {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .padding-y-mob---s {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .padding-y-mob---xs {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .padding-y-mob---xxs {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }

  .padding-y-mob---0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .padding-x-mob---xxl {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .padding-x-mob---xl {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .padding-x-mob---l {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .padding-x-mob---m {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .padding-x-mob---s {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .padding-x-mob---xs {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .padding-x-mob---xxs {
    padding-left: .25rem;
    padding-right: .25rem;
  }

  .padding-x-mob---0 {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-top-mob---xxl {
    padding-top: 5rem;
  }

  .padding-top-mob---xl {
    padding-top: 4rem;
  }

  .padding-top-mob---l {
    padding-top: 3rem;
  }

  .padding-top-mob---m {
    padding-top: 2rem;
  }

  .padding-top-mob---s {
    padding-top: 1rem;
  }

  .padding-top-mob---xs {
    padding-top: .5rem;
  }

  .padding-top-mob---xxs {
    padding-top: .25rem;
  }

  .padding-top-mob---0 {
    padding-top: 0;
  }

  .padding-right-mob---xxl {
    padding-right: 5rem;
  }

  .padding-right-mob---xl {
    padding-right: 4rem;
  }

  .padding-right-mob---l {
    padding-right: 3rem;
  }

  .padding-right-mob---m {
    padding-right: 2rem;
  }

  .padding-right-mob---s {
    padding-right: 1rem;
  }

  .padding-right-mob---xs {
    padding-right: .5rem;
  }

  .padding-right-mob---xxs {
    padding-right: .25rem;
  }

  .padding-right-mob---0 {
    padding-right: 0;
  }

  .padding-bottom-mob---xxl {
    padding-bottom: 5rem;
  }

  .padding-bottom-mob---xl {
    padding-bottom: 4rem;
  }

  .padding-bottom-mob---l {
    padding-bottom: 3rem;
  }

  .padding-bottom-mob---m {
    padding-bottom: 2rem;
  }

  .padding-bottom-mob---s {
    padding-bottom: 1rem;
  }

  .padding-bottom-mob---xs {
    padding-bottom: .5rem;
  }

  .padding-bottom-mob---xxs {
    padding-bottom: .25rem;
  }

  .padding-bottom-mob---0 {
    padding-bottom: 0;
  }

  .padding-left-mob---xxl {
    padding-left: 5rem;
  }

  .padding-left-mob---xl {
    padding-left: 4rem;
  }

  .padding-left-mob---l {
    padding-left: 3rem;
  }

  .padding-left-mob---m {
    padding-left: 2rem;
  }

  .padding-left-mob---s {
    padding-left: 1rem;
  }

  .padding-left-mob---xs {
    padding-left: .5rem;
  }

  .padding-left-mob---xxs {
    padding-left: .25rem;
  }

  .padding-left-mob---0 {
    padding-left: 0;
  }

  .gc-hide-mobile-landscape {
    display: none;
  }

  .gc-show-mobile-landscape {
    display: block;
  }

  .navbar-icon {
    width: 3rem;
  }

  .image-tool {
    max-width: 100%;
  }

  .pricing-overview {
    padding: 60px 15px;
  }

  .lottie-layer {
    min-width: 100vw;
  }

  .page-row-hero, .slider-page-row {
    flex-direction: column-reverse;
  }

  .content-slider {
    width: 100%;
    align-items: flex-end;
    padding-top: 80px;
    padding-bottom: 150px;
    position: relative;
    top: 0;
  }

  .heading-l {
    max-width: 400px;
    margin-bottom: 0;
  }

  .heading-l.inline {
    max-width: none;
  }

  .animation-section-hero {
    z-index: 1;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    margin-top: 0;
    top: 0;
    left: 0%;
  }

  .animation-container {
    width: 100%;
    height: 100%;
    transform: scale(1.3);
  }

  .animation-container.bird-container {
    width: 100vw;
    right: auto;
  }

  .animation-container.lion {
    right: 0;
  }

  .animation-section {
    z-index: 1;
    width: 100%;
    height: 100vh;
    left: 0%;
  }

  .animation-lottie-wraper {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: auto;
    right: auto;
    transform: translate(0, -10vh);
  }

  .animation-lottie-wraper.hero {
    height: 100%;
    justify-content: center;
    align-items: center;
    transform: translate(0, -10vh);
  }

  .animation-background-wraper {
    height: 100vh;
  }

  .animation-background-wraper.hero {
    top: 0;
  }

  .content-container-slider {
    max-width: 300px;
    top: 100vh;
  }

  .animation-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .animation-wrapper.lottie-wrap {
    min-height: 0;
    align-items: center;
    display: flex;
  }

  .heading-xl {
    font-size: 2rem;
  }

  .contact-button {
    font-size: 1rem;
  }

  .footer {
    padding-top: 0;
  }

  .footer-wrapper {
    padding-bottom: 20px;
  }

  .flex-grid-wrapped.gutter-20 {
    flex-direction: column-reverse;
  }

  .flex-item-20._40-percent {
    width: auto;
  }

  .sidebar-wrapper {
    margin-top: 0;
  }
}

@media screen and (max-width: 479px) {
  .styleguide-content-grid-3 {
    grid-template-columns: 1fr;
  }

  .styleguide-flex-horizontal {
    flex-direction: column;
  }

  .styguide-main-heading {
    font-size: 2rem;
  }

  .gc-full-width-mobile {
    width: 100%;
    max-width: none;
  }

  .gc-hide-mobile-portrait {
    display: none;
  }

  .features-s1-wrapper {
    text-align: center;
  }

  .container {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .pricing-grid {
    grid-template-columns: 1fr;
  }

  .back-gradient-right, .back-gradient-left {
    opacity: .6;
  }

  .content-slider {
    align-items: flex-end;
    padding-top: 60px;
  }

  .heading-l {
    font-size: 1.5rem;
  }

  .animation-container.lion {
    height: 100vh;
    align-items: center;
    top: 0;
    right: auto;
    transform: scale(2);
  }

  .animation-background-wraper, .animation-background-wraper.footer {
    height: 100%;
  }

  .content-container-slider {
    max-width: 60%;
  }

  .content-container-slider.mobile-short {
    max-width: 200px;
  }

  .heading-xl {
    margin-bottom: 0;
    font-size: 1.5rem;
  }

  .header-2 {
    width: 100%;
    margin-left: 0%;
  }

  .hero-wrapper {
    margin-bottom: 40px;
  }

  .hero-logo, .contact-button {
    width: 120px;
  }

  .footer-cta {
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    display: flex;
  }

  .footer {
    flex-direction: column-reverse;
    grid-template-rows: auto;
    display: flex;
  }

  .footer-wrapper {
    align-items: flex-end;
    margin-left: 0%;
    padding-top: 50px;
    padding-bottom: 20px;
  }
}

#w-node-_829c7979-51a2-8d63-5e2d-fdecfacb77bb-282a5dd3, #w-node-_508139f0-3faf-1fb2-6f87-fa7c7aeef4da-282a5dd3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_72995dcd-a40f-821d-107d-90fabce415ef-282a5dd3 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_9c84ebdb-c672-7b33-f6a4-cbbc63f92c83-282a5dd3, #w-node-_9c84ebdb-c672-7b33-f6a4-cbbc63f92c8d-282a5dd3, #w-node-_9c84ebdb-c672-7b33-f6a4-cbbc63f92c97-282a5dd3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_9c6c82ac-1f94-6843-a104-c8a7a427037a-282a5dd3, #Credit-Limit-2.w-node-_865841f3-a986-89be-cb5e-d9466dde41fc-282a5dd3, #w-node-d2337baf-bf6e-e3e0-41bc-737878364314-282a5dd3 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_617a384f-f059-2e9f-26bb-78ce94211cd7-282a5dd3 {
  grid-area: Area;
}

#Non-Us-Officer-2.w-node-_5a51920a-0751-aa45-0130-2eeee4a0a3a1-282a5dd3, #w-node-_377f0918-da85-5b78-74ed-e047ba1afed1-282a5dd3, #Liquidity-Needs.w-node-d2337baf-bf6e-e3e0-41bc-737878364318-282a5dd3 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}


