body {
    background-color: #051854;
    /* background: linear-gradient(#310c68, #051854); */
    color: #fff;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    line-height: 1.7em;
    overflow-x: hidden;
}

.bg-primary {
    background-color: #2047b2!important;
}

.btn-xl {
    padding: 15px 20px;
}

#bg {
    left: 0;
    bottom: 0;
    z-index: -1;
}

#hiw-rel {
    padding: 100px 0;
}

#withK {
    padding-bottom: 100px;
}

.btn-info {
    color: #fff;
    background-color: #f46e0d;
    border-color: #f46e0d;
    text-transform: uppercase;
    padding: 17px 30px !important;
    transition: all .6s;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 5px;
}

.btn-info:hover {
    background-color: #2047b2;
    border-color: #2047b2;
    color: #fff;
}

.bg-grad-1 {
    background: linear-gradient(#333333, #05185400);
}

.bg-grad-2 {
    background: linear-gradient(#051854, #333333);
}

.bg-grad-3 {
    background: linear-gradient(180deg, #fa9e00, #f46e0d);
}

h1 {
    font-weight: 400;
    font-size: 36px;
}

h3 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.4em;
}

h4 {
    font-size: 24px;
    font-weight: 200;
    line-height: 1.4em;
}

.c {
    position: absolute;
    left: 0;
    top: 0;
    opacity: .4;
}

.c-2 {
    top: 100px;
    left: 40%;
}

.c-3 {
    left: 90%;
}


/* #t-boxes .u {
    transition: all .6;
} */


/* #t-boxes .u:hover h4,
#t-boxes .u:hover p {
    opacity: 0;
} */


/*
.q-1:hover {
    background: #1338a2 url(img/Box-1.png) no-repeat center center/contain;
}

.q-2:hover {
    background: #1338a2 url(img/Box-2.png) no-repeat center center/contain;
}

.q-3:hover {
    background: #1338a2 url(img/Box-3.png) no-repeat center center/contain;
} */

.contact i {
    margin-right: 10px;
    float: left;
    font-size: 28px;
}

.contact li {
    display: block;
    margin-bottom: 15px;
    clear: both;
}

footer a {
    color: #fff;
}

footer a i {
    color: #fa9e00;
    font-size: 32px;
    padding: 0px;
    margin: 0 2px;
}

.footer-logo {
    width: 150px;
}

.angle-down {
    width: 40px;
}

div#particles-js {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}

#mountainBack,
#mountainFront {
    bottom: -10vh;
    opacity: 0;
}

#curtain img {
    height: 100vh;
}

#curtain,
#curtain-2 {
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 0;
}

#curtain-2 {
    transform: rotate(180deg);
    left: 0;
}

.bg-dark {
    background-color: #333 !important;
}

#sec-1 {
    padding-top: 40vh;
}

#sec-1 ul {
    font-size: 24px;
    line-height: 46px;
}

#sec-funding {
    padding: 200px 0 100px;
}

#t-boxes {
    position: absolute;
    width: 100%;
}

#types-f {
    top: 0;
    left: 0;
}

#office-space {
    top: 0;
    width: 100%;
    z-index: -1;
}

img#u-bg {
    margin-bottom: -10px;
    bottom: 0;
}

.z-1 {
    z-index: 1;
    position: relative;
}

.u {
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
}

#qualificaitions .u {
    padding: 30px;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#sec-using .u-wrap img {
    padding-bottom: 20px;
}

#sec-using {
    padding: 100px 0 0px;
}

#sec-using .u-wrap {
    position: relative;
    opacity: 0;
}

#uid {
    flex-direction: column;
    height: 100%;
}

.bgColor {
    background-color: #fa9e00;
}

#sec-using .u {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.u h4 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.4em;
    padding-bottom: 20px;
}

#qualificaitions .u h4 {
    font-size: 22px;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 30;
    opacity: 0;
    width: 100%;
    background: #051854;
    padding: 10px;
}

#bars path {
    transform-origin: bottom center;
}

#header img {
    width: 180px;
}

.h-100vh {
    min-height: 100vh;
}

#buildings {
    bottom: 0;
    margin: 0 auto;
    opacity: 0;
}

.neg-margin {
    margin-top: -20vh;
}

#woods-wrap {
    top: 70vh;
    opacity: 0;
}

@media screen and (max-width: 991px) {
    img#logo {
        width: 180px;
    }
    .neg-margin {
        margin-top: -40vh;
    }
    h1 {
        font-size: 28px;
    }
    #woods-wrap {
        top: 50vh;
    }
    #mountainBack,
    #mountainFront {
        bottom: 0;
    }
}

@media screen and (min-height: 850px) {
    #woods-wrap {
        top: 80vh;
        opacity: 0;
    }
}

@media screen and (min-height: 1000px) {
    #woods-wrap {
        top: 85vh;
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    #sec-using .u-wrap img {
        padding-bottom: 0px;
        width: 20vh;
    }
    .u h4 {
        padding-bottom: 0px;
    }
    #sec-using .u-wrap {
        height: 60vh !important;
    }
    #buildings {
        width: 180% !important;
    }
}
button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 font-family: inherit;
 font-size: 15px;
}

button.learn-more {
 font-weight: 600;
 color: #EEEE;
 text-transform: uppercase;
 padding: 1.25em 2em;
 background: #fa9e00;
 border: 2px solid #f46e0d;
 border-radius: 0.75em;
 -webkit-transform-style: preserve-3d;
 transform-style: preserve-3d;
 -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more::before {
 position: absolute;
 content: '';
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: #%%%;
 border-radius: inherit;
 -webkit-box-shadow: 0 0 0 2px #0d6efd, 0 0.625em 0 0 #ffe3e2;
 box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
 -webkit-transform: translate3d(0, 0.75em, -1em);
 transform: translate3d(0, 0.75em, -1em);
 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more:hover {
 background: #ffe9e9;
 -webkit-transform: translate(0, 0.25em);
 transform: translate(0, 0.25em);
}

button.learn-more:hover::before {
 -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
 box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
 -webkit-transform: translate3d(0, 0.5em, -1em);
 transform: translate3d(0, 0.5em, -1em);
}

button.learn-more:active {
 background: #ffe9e9;
 -webkit-transform: translate(0em, 0.75em);
 transform: translate(0em, 0.75em);
}

button.learn-more:active::before {
 -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
 box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
 -webkit-transform: translate3d(0, 0, -1em);
 transform: translate3d(0, 0, -1em);
}
