.authorization-container {
  width: 643px;
  height: 503px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.authorization-frame78 {
  gap: 32px;
  width: 640px;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #ffffff;
}
.authorization-frame71 {
  gap: 14px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.authorization-k21 {
  width: 150px;
  height: 50px;
}
.authorization-frame70 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  box-sizing: content-box;
  align-items: flex-start;
  flex-direction: column;
}
.authorization-frame61 {
  gap: 48px;
  display: flex;
  padding: 32px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(241, 243, 245, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-default-white);
}
.authorization-frame129 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.authorization-frame125 {
  gap: 8px;
  width: 120px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.authorization-group3 {
  width: 120px;
  height: 6px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(233, 236, 239, 1);
}
.authorization-rectangle19 {
  top: 0px;
  left: 0px;
  width: 120px;
  height: 6px;
  position: absolute;
  border-radius: 3px;
}
.authorization-text {
  color: var(--dl-color-default-gray800);
  height: auto;
  text-align: left;
  line-height: 14px;
}
.authorization-frame126 {
  gap: 8px;
  width: 120px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.authorization-group4 {
  width: 112px;
  height: 6px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(233, 236, 239, 1);
}
.authorization-rectangle191 {
  top: 0px;
  left: 0px;
  width: 112px;
  height: 6px;
  position: absolute;
  border-radius: 3px;
}
.authorization-text02 {
  color: var(--dl-color-default-gray800);
  height: auto;
  text-align: left;
  line-height: 14px;
}
.authorization-frame127 {
  gap: 8px;
  width: 120px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.authorization-group5 {
  width: 112px;
  height: 6px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(233, 236, 239, 1);
}
.authorization-rectangle22 {
  top: 0px;
  left: 0px;
  width: 112px;
  height: 6px;
  position: absolute;
  align-self: stretch;
  border-radius: 3px;
}
.authorization-text04 {
  color: var(--dl-color-default-gray800);
  height: auto;
  text-align: left;
  line-height: 14px;
}
.authorization-frame1291 {
  gap: 8px;
  width: 120px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.authorization-group6 {
  width: 112px;
  height: 6px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(233, 236, 239, 1);
}
.authorization-rectangle221 {
  top: 0px;
  left: 0px;
  width: 112px;
  height: 6px;
  position: absolute;
  align-self: stretch;
  border-radius: 3px;
}
.authorization-text06 {
  color: var(--dl-color-default-gray800);
  height: auto;
  text-align: left;
  line-height: 14px;
}
.authorization-frame139 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.authorization-frame124 {
  gap: 8px;
  display: flex;
  padding: 0 0 16px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.authorization-text08 {
  color: var(--dl-color-default-gray900);
  height: auto;
  text-align: left;
  line-height: 28px;
}
.authorization-frame142 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.authorization-frame153 {
  display: flex;
  padding: 2px 0 0 0;
  align-items: flex-start;
}
.authorization-checkbox {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.authorization-rectangle1 {
  top: -1px;
  left: -1px;
  width: 18px;
  height: 18px;
  position: absolute;
  border-color: rgba(206, 212, 218, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
.authorization-heroiconsminicheck {
  top: -4px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.authorization-text10 {
  color: var(--dl-color-default-gray900);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 20px;
}
.authorization-text19 {
  color: var(--dl-color-default-gray500);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 14px;
}
.authorization-frame63 {
  gap: 134px;
  display: flex;
  padding: 0 0 0 6px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.authorization-frame140 {
  gap: -6px;
  display: flex;
  align-items: center;
}
.authorization-heroiconsminiarrowleft {
  width: 20px;
  height: 20px;
}
.authorization-button {
  gap: 10px;
  display: flex;
  padding: 10px 16px;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.authorization-text21 {
  color: var(--dl-color-default-gray600);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.authorization-frame62 {
  gap: -6px;
  display: flex;
  align-items: center;
}
.authorization-button1 {
  display: flex;
  padding: 10px 16px;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: var(--dl-color-default-primary500);
}
.authorization-text23 {
  color: var(--dl-color-default-white);
  height: auto;
  text-align: left;
  line-height: 20px;
}
